@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* local style */
.heighlitetext{
  color: black;
  font-weight: bold;
  background-color: aliceblue;
  padding: 2px;
  border-radius:2px;
}

/* topbar */
.topbar{
  background-color: #f14D54;
  color:white;
  text-align: center;
  padding: 2px;
}

.Uppernav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.Auth{
  display: flex;
  color: black;
  background-color:whitesmoke;
}

.authbtn{
  padding: 5px 10px;
  text-decoration: none;
}

.authbtn:hover{
  overflow: hidden;
  background-color:rgba(133, 133, 133, 0.285);
}

.cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.325);
  border-radius:5px;
  gap: 5px;
}

/* navbar */

nav{
  display:flex;
  justify-content: center;
  background-color:rgba(149, 149, 149, 0.293);
  padding: 15px;
  gap: 10px;
}

.search{
    width: 422px;
    color: black;
    outline: none;
    padding: 3px 10px;
}

