@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.authbtn{
  padding: 5px 10px;
  text-decoration: none;
}

.authbtn:hover{
  overflow: hidden;
  background-color:rgba(133, 133, 133, 0.285);
}

.cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.325);
  border-radius:5px;
  gap: 5px;
}



